<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Force canonical dev url">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(www\.)?<%= urlParts.devHost.replace(/\./gi, '\\.') %>\.<% if (urlParts.devURLext == 'com') { %>org<% } else {%>com<% } %>$" />
                    </conditions>
                    <action type="Redirect" url="http://<%= userOpts.devURL %>/{R:1}" />
                </rule>
                <rule name="Force canonical url">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^<%= userOpts.siteURL.replace(/\./gi, '\\.') %>|<%= userOpts.devURL.replace(/\./gi,'\\.') %>|<%= userOpts.localURL.replace(/\./gi,'\\.') %>$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://<%= userOpts.siteURL %>/{R:1}" />
                </rule>
                <rule name="Deny hidden file access">
                    <match url="&quot;(^|/)\.&quot;" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
                        <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Remove index.php filename" stopProcessing="true">
                    <match url="^(.*)index.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" logRewrittenUrl="true" redirectType="Permanent" />
                </rule>
                <rule name="Add trailing slash to folders" enabled="true" stopProcessing="true">
                    <match url="(.*[^/])$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
