<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CanonicalHostName">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^<%= userOpts.siteURL %>|<%= userOpts.devURL %>$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://<%= userOpts.siteURL %>/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>